#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #553982;
}
#menu-0 .mbr-navbar__hamburger {
  color: #1abc9c;
}
#msg-box3-2 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#footer1-4 P {
  text-align: center;
}
